<%= form_with(model: song, local: true) do |form| %>
  <% if song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group" style="max-width: 400px">
    <h5>Title:</h5>
    <%= form.text_field :title, class: "form-control input-lg" %>
  </div>

  <div class="form-group" style="max-width: 400px">
    <h5>Artist:</h5>
    <%= form.text_field :artist, class: "form-control input-lg" %>
  </div>

  <div class="form-group" style="max-width: 400px">
    <h5>Genre: </h5>
    <%= form.select :genre, [
                            ["Alternative Rock", "Alternative Rock"],
                            ["Rock", "Rock"],
                            ["Pop", "Pop"],
                            ["Techno", "Techno"],
                            ["Jazz", "Jazz"],
                            ["Blues", "Blues"],
                            ["Classical", "Classical"],
                            ["Dramatic", "Dramatic"]
                            ].sort, prompt: "Select genre...", class: "form-control" %>
  </div>

  <div class="form-group" style="max-width: 400px">
    <h5>Youtube ID (example: ztIEogFr9j4)</h5>
    <%= form.text_field :link, class: "form-control input-lg" %>
  </div>

  <div class="form-group">
    <%= form.submit 'Post Song', class: "btn btn-primary btn-lg" %>
  </div>
<% end %>