<p id="notice"><%= notice %></p>


<p>
  <strong>Artist:</strong>
  <%= @song.artist %>
</p>

<p>
  <strong>Title:</strong>
  <%= @song.title %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @song.genre %>
</p>

<p>
  <strong>video:</strong><br>
  
  <iframe width="854" height="480" src="https://www.youtube.com/embed/<%= @song.link %>" frameborder="0" allowfullscreen></iframe
</p>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
