<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h3><%= @song.title %> - <%= @song.artist %> (<%= @song.genre %>)</h3>
  <div class="container">
    <iframe src="//www.youtube.com/embed/<%= @song.link %>" 
    frameborder="0" allowfullscreen class="video"></iframe>
  </div>
</div>
